<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Bed Status</title>
</head>
<body>
    <h1>Bed Status</h1>
    <ul>
        <h2>GENERAL:</h2><%=beds[0]  %>
        <h2>ICU:</h2><%=beds[1]  %>
        <h2>PRIVATE ROOMS:</h2><%=beds[2]  %>
    </ul>
    <a href="/hospital">Go Back</a>
</body>
</html>