<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <style>
        /* General Styles */
        body {
            font-family: Arial, sans-serif;
            background-image:url("https://t4.ftcdn.net/jpg/02/86/71/59/360_F_286715902_U7fguJuyaaTY4ClUvi77y8beHGVCQDRl.jpg");
            margin: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100vh;
        }

        h1 {
            color: #ff0707;
            text-align: center;
            margin-bottom: 20px;
            font-size: 24px;
        }

    
        form {
            background: #ffffff;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            width: 100%;
            max-width: 400px;
        }

        
        div {
            margin-bottom: 15px;
        }

        label {
            display: block;
            margin-bottom: 5px;
            font-weight: bold;
            color: #555;
        }

        input[type="text"],
        input[type="password"] {
            width: 100%;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
            font-size: 16px;
        }

        input[type="submit"] {
            background: #007bff;
            color: white;
            border: none;
            padding: 10px;
            border-radius: 4px;
            cursor: pointer;
            font-size: 16px;
            width: 100%;
            box-sizing: border-box;
            transition: background 0.3s;
        }

        input[type="submit"]:hover {
            background: #0056b3;
        }

      
        input::placeholder {
            color: #888;
        }
    </style>
</head>
<body>
    <h1>hospital login</h1>
    <form action="http://localhost:8000/hospital/hlogin" method="post">
        <div>
            <label for="name">name:</label>
            <input type="text" id="name" name="name" required>
        </div>
        <div>
            <label for="password">password:</label>
            <input type="password" id="password" name="password" required>
        </div>
        <div>
            <input type="submit">
        </div>
    </form>
    
</body>
</html>